@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

.attribution {
  bottom: 2px;
  font-size: 12px;
  position: fixed;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  background-color: hsl(230, 100%, 99%);
  display: grid;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  min-height: 100vh;
  place-items: center;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
  letter-spacing: 0.05em;
  padding-top: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.container_result {
  align-items: center;
  background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  left: 50px;
  margin: 0 0 auto auto;
  position: relative;
  width: 350px;
  z-index: 1;
}
.container_result h3 {
  color: hsl(241, 100%, 89%);
  letter-spacing: 0.05em;
}

.result {
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 90%;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.result_total {
  color: hsl(0, 0%, 100%);
  font-size: 70px;
  font-weight: 800;
  margin: 50px 0 0 0;
}

.result_possible {
  color: hsl(252, 100%, 75%);
  font-weight: 500;
  padding: 0;
  margin-top: -5px;
}

.comment {
  color: hsl(241, 100%, 89%);
  font-weight: 500;
  text-align: center;
  padding: 3rem auto;
  width: 250px;
}

.container_summary {
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 5px 20px 30px 0 hsl(221, 100%, 96%);
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: auto auto auto 0;
  width: 400px;
  z-index: 0;
}

.container_summary h3 {
  color: hsl(224, 30%, 27%);
  font-size: 23px;
  font-weight: 800;
}

.container_summary h3,
.container_summary aside,
.container_summary button {
  margin-left: 80px;
  margin-right: 40px;
}

.item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  font-weight: 600;
  margin: 15px 0;
  padding: 15px 0;
}

.item p {
  margin: 0;
}

.item span {
  margin-left: auto;
  padding-right: 20px;
}

.container_summary_reaction {
  background-color: hsla(0, 100%, 67%, 5%);
  color: hsl(0, 100%, 67%);
}

.container_summary_memory {
  background-color: hsla(39, 100%, 56%, 5%);
  color: hsl(39, 100%, 56%);
}

.container_summary_verbal {
  background-color: hsla(166, 100%, 37%, 5%);
  color: hsl(166, 100%, 37%);
}

.container_summary_visual {
  background-color: hsla(234, 85%, 45%, 5%);
  color: hsl(234, 85%, 45%);
}

.container_summary mark {
  color: hsl(224, 30%, 27%);
  background: none;
  font-weight: 800;
}

.container_summary em {
  color: hsl(241, 100%, 89%);
  font-weight: 800;
}

figure {
  margin: 0;
  padding: 0 10px;
}

button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  border: 0 solid hsl(224, 30%, 27%);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  height: 55px;
  margin-top: 30px;
  width: auto;
}

button:hover,
button:active {
  background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  cursor: pointer;
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
  .container_result {
    border-radius: 0 0 30px 30px;
    height: 450px;
    left: 0;
    margin: 0;
    width: 100%;
  }
  .container_summary {
    border-radius: 0;
    height: 600px;
    margin-top: -20px;
    width: 100%;
  }
  .container_summary h3,
  .container_summary aside,
  .container_summary button {
    margin-left: 40px;
    margin-right: 20px;
  }
  .container_summary h3 {
    margin-top: 40px;
  }
  button {
    margin-bottom: 20px;
  }
}
